@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>

<p>Revela.Me es una pagina de revelado de imagenenes y video a cambio de dinero, por lo que no se hace responsable del mal uso o engaño por parte de los usuarios, cualquier inconveniente ponerse en contacto con el soporte.</p>
