@{
    ViewBag.Title = "Soporte";
}

<div class="jumbotron">

    <font face="Brush Script MT">
        <font size="200"<p>Soporte</p></font>
    </font>

    <address>
        Héctor Alejandro Pizano Hernández<br />
        Yuriria, Guanajuato<br />
    </address>

    <address>
        <strong>Soporte: </strong><a href="correo">hector.pizher.98@gmail.com</a><br /><br><br>


        <img src="~/Content/yoxd.jpg" width="150" height="150"
    </address>
</div>