@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>

<address>
    Héctor Pizano<br />
    Yuriria, Guanajuato<br />
    <abbr title="Phone">Teléfono: </abbr>
    445-125-19-58
</address>

<address>
    <strong>Soporte: </strong><a href="correo">hector.pizher.98@gmail.com</a><br />
</address>