@{
    ViewBag.Title = "Soporte";
}

<div class="jumbotron">

    <font face="Brush Script MT">
        <font size="200"<p>Soporte</p></font>
    </font>

    <address>
        Héctor Pizano<br />
        Yuriria, Guanajuato<br />
        <abbr title="Phone">Teléfono: </abbr>
        445-125-19-58
    </address>

    <address>
        <strong>Soporte: </strong><a href="correo">hector.pizher.98@gmail.com</a><br />
    </address>


</div>