

<div class="jumbotron">
    <font face="Brush Script MT">
        <font size="200"<p>Revela.Me</p></font>
    </font>


    <font face="Didot" </font><p class="lead">Genera dinero publicando imagenes o videos, una nueva forma de subastar contenido digital.</p>
    <img src="~/Content/d1.jpg" width="860" height="540"<br><br><br>

    <p><a href="" class="btn btn-primary btn-lg">Registrarme &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">

        <h2>Confiable</h2>
        <p>Contamos con la seguridad necesaria para sobreguardar la integridad de tu información en todo momento.</p>
        

    </div>
    <div class="col-md-4">
        <h2>Facil de usar</h2>
        <p>En pocos clicks ya estas subastando tu información, de igual manera al donar a la subasta en pocos clicks.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Bajas comisiones</h2>
        <p>no te robamos, la plataforma se queda con un porcentaje mínimo a comparación de otras plataformas.</p>
      
    </div>
</div><br>
<hr />


<div class="row">
    <div class="col-md-4">

        <h2>Spoilers</h2>
        <p>Publica tu spoiler y obtén una ganacia extra.</p>
        <img src="~/Content/spoliler.jpg" width="350" height="200" <br>
    </div>

    <div class="col-md-4">

        <h2>Trailers</h2>
        <p>Coopera junto con tu comunidad para revelar tu estreno esperado.</p>
        <img src="~/Content/trailer.jpg" width="350" height="200" <br>
    </div>

    <div class="col-md-4">

        <h2>Proyectos</h2>
        <p>Da a conocer tu proyecto, si se logra tu objetivo monetario, muestraselo al mundo.</p>
        <img src="~/Content/mujer-trabajando.jpg" width="350" height="200" <br>
    </div>

    <div class="col-md-4">

        <h2>Solo fans</h2>
        <p>Publica cotenido exclusivo dirigido a tus fans.</p>
        <img src="~/Content/Kate.jpg" width="350" height="200" <br>
    </div>

    <div class="col-md-4">

        <h2>Arte</h2>
        <p>¿Eres artista?, publica tus obras y reune dinero.</p>
        <img src="~/Content/arte.jpg" width="350" height="200" <br>
    </div>

    <div class="col-md-4">

        <h2>Videojuegos</h2>
        <p>Publica contenido exclusivo de videojuegos para tus seguidores.</p>
        <img src="~/Content/The last of us.png" width="350" height="200" <br>
    </div>
</div>