
<div class="jumbotron">
    <font face="Brush Script MT">
        <font size="200"<p>Iniciar sesión</p></font>
    </font>
    <div>
        <form class="form" method="post">
            <font face="Didot" </font><p class="lead">Usuario:</p>
            <input type="text" size="60" maxlength="60" value="" name="user" required><br><br><br>
            <font face="Didot" </font><p class="lead">Contraseña:</p>
            <input type="text" size="60" maxlength="60" value="" name="pass" required><br><br><br>
            <button class="btn btn-primary" type="submit">Iniciar sesión</button>
        </form>
    </div><br><br>


    <p>@ViewBag.Msg </p><br><br>


    <font face="Didot" </font><p class="lead">¡Un gusto tenerte de vuelta!</p>
    <font face="Didot" </font><p class="lead"> "El mayor riesgo es no correr ningun riesgo",   Mark Zuckerberg.</p>
</div>


