
<div class="jumbotron">

    <font face="Brush Script MT">
        <font size="200"<p>Noticias</p></font>
    </font><br>

    <h6>Parche 0.1</h6>
    <img src="~/Content/0.1.png" width="800" height="400"<br><br><br>
    <p>Miercoles 12 de Mayo del 2021</p>
    <p>Llega el parche 0.1 con la funciones esenciales, entran en servicio las ventanas de registro e iniciar sesión, asi como componentes graficos y temáticos en la página.</p>
</div>
